[submodule "deps/cub"]
	path = deps/cub
	url = https://github.com/NVIDIA/cub.git
    ignore = dirty
[submodule "deps/Catch2"]
	path = deps/Catch2
	url = https://github.com/catchorg/Catch2
    branch = v2.x
